<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Tentang</title>
</head>
<body>
 <div class="wrapper">
    <nav class="nav">
        <div class="nav-logo">
            <p>phiON</p>
        </div>
        <div class="nav-menu" id="navMenu">
            <ul>
                <li><a href="{{ url_for('home') }}" class="link">Beranda</a></li>
                <li><a href="{{ url_for('hdata') }}" class="link">Data Phishing</a></li>
                <li><a href="{{ url_for('uhalaman') }}" class="link">Laporkan Situs</a></li>
                <li><a href="{{ url_for('htentang') }}" class="link">Tentang</a></li>
            </ul>
        </div>
        <div class="nav-button">
            {% if 'is_logged_in' in session %}
                <ul><a href="{{ url_for('uhalaman') }}" class="custom-text-color">{{ session['username'] }}</a></ul>
            {% else %}
                <ul><a href="{{ url_for('hlogin') }}" class="custom-text-color">Akun Saya</a></ul>
            {% endif %}
        </div>
    </nav>  
    <div class="form-box">
        <div class="index-container" id="index">
            <div class="top">
                <header>Mengenal phiON</header>
                <h4>Phishing merupakan upaya penipuan online untuk mencuri informasi pribadi pengguna dengan cara menyamar sebagai entitas tepercaya. Salah satu jenis phishing yang sering terjadi ialah melalui situs, dimana phisher membuat web palsu untuk mengelabui pengguna.</h4>
                <h4>Identifikasi domain URL penting untuk mencegah serangan ini. Phishing Detection atau phiON merupakan sistem deteksi situs phishing dengan pemanfaatan teknologi deep learning untuk mengklasifikasikan situs sebagai phishing atau sah berdasarkan struktur URL secara otomatis.</h4>
            </div>
        </div>

</body>
</html>